.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 10px

}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.input:focus {
    outline: none;
}

.errorInput {
    border: 1px solid #c00;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    outline: none;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
    border: none;
    background: #06c;
}

.button:focus {
    background: #06c;
}

.button:active {
    background: #06c;
}

.button:disabled {
    background: #06c;
    opacity: 0.5;
}

.text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
