.sendForm {
    display: flex;
    gap: 44px;
    margin: 56px 0 32px 0;
}

.textarea {
    border-radius: 20px;
    width: 100%;
    height: 40px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.9;
    resize: none;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 12px 24px;
    border: none;
}

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background: #06c;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
}

.button:hover {

}

.button:active {

}
